#exportWindow {
    position: absolute;
    padding: 2vmin;
    background-color: whitesmoke;
    border: 1px solid #323232;
    box-shadow: 0 0 0.5vmin rgba(50, 50, 50, 0.25);
}

    #exportWindow > a#closeBtn {
        float: right;
        color: #323232;
        font-family: monospace;
        cursor: pointer;
    }

    #exportWindow > div > label {
        width: 4ch;
    }

    #exportWindow > div > input {
        line-height: normal;
        margin: 0 0 1vmin 0;
    }
