body {
    overflow: hidden;
}

#coords_display {
    display: none;
}

#map-toolbar {
    display: none;
}

svg * {
    pointer-events: none;
}

svg .bg {
    fill: transparent;
}

svg .ug {
    fill: whitesmoke;
}

.FU {
    user-select: none;
    height: 100vh;
    width: 100vw;
    display: flex;
    color: whitesmoke;
    font-family: monospace;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.FU-wrp {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0.5rem #323232, 0 0 0.25rem #323232;
}

    .FU-wrp > header {
        height: 5rem;
        background-color: darkslateblue;
        display: flex;
        flex-direction: row;
    }

        .FU-wrp > header > svg {
            height: 100%;
            cursor: pointer;
        }

            .FU-wrp > header > svg:hover > .bg {
                fill: rgba(250, 250, 250, 0.25);
            }

        .FU-wrp > header > div {
            flex: 1;
            align-self: center;
            margin: 0 2ch;
            font-size: 2rem;
        }

    .FU-wrp > main {
        display: flex;
        flex-direction: row;
        flex: 1;
    }

        .FU-wrp > main > nav {
            width: 3rem;
            height: 100%;
            background-color: mediumslateblue;
        }

            .FU-wrp > main > nav > svg {
                cursor: pointer;
            }

                .FU-wrp > main > nav > svg:hover > .ug {
                    fill: mediumslateblue;
                }
                .FU-wrp > main > nav > svg:hover > .bg {
                    fill: lavender;
                }

        .FU-wrp > main > .FU-cnt {
            display: flex;
            flex-direction: column;
            height: 100%;
            flex: 1;
            background-color: lavender;
        }

            .FU-wrp > main > .FU-cnt > .search {
                height: 10rem;
                color: rgba(50, 50, 50, 0.9);
                padding: 0.25rem;
                box-shadow: inset 0.125rem 0 0.125rem #323232;
            }

            .FU-wrp > main > .FU-cnt > .layers {
                flex: 1;
                color: rgba(50, 50, 50, 0.9);
                box-shadow: inset 0.125rem 0 0.125rem #323232;
            }

                .FU-wrp > main > .FU-cnt > .layers > .layer {
                    font-size: 0.9rem;
                    padding: 0.1rem;
                }

                    .FU-wrp > main > .FU-cnt > .layers > .layer:hover {
                        background-color: #ffc120;
                    }

                    .FU-wrp > main > .FU-cnt > .layers > .layer > input {
                        margin-left: 1ch;
                    }

                    .FU-wrp > main > .FU-cnt > .layers > .layer > * {
                        cursor: pointer;
                    }
