div.page {
    margin-top: 1vmin !important;
}

.cnt-wrp.bannersnet.top {
    height: auto !important;
    padding: 1vmin !important;
}

    .cnt-wrp.bannersnet.top > div.slider > div > div > a {
        margin-bottom: 0 !important;
    }

.bannersnet div {
    margin-top: 0 !important;
}

div.content {
    padding: 1vmin !important;
}

    div.content div.banner.clearfix {
        padding: 1vmin 0 !important;
    }

div.pos-banner-fluid {
    grid-template-rows: auto !important;
}

    div.pos-banner-fluid > div {
        padding: 1vmin !important;
    }

div.bf-2__description {
    margin-bottom: 1vmin !important;
}

span.bf-2__text {
    margin-bottom: 1vmin !important;
    font-size: 20px !important;
    line-height: 24px !important;
}
